@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warning {
    text-align: center;
    margin-top: 50px;

    font-family: 'Grandstander', cursive;
    font-size: 40px;
}

.main-paragraph {
    
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    line-height: 25px;

    max-width: 500px;
    margin: 50px auto;
    padding: 20px;

    box-shadow: -2px 2px rgb(183, 176, 176);
    background-color: rgba(100, 155, 11, 0.886);
    color: white;
}
