@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name{
    text-align: center;
    margin-top: 50px;

    font-family: 'Grandstander', cursive;
    font-size: 40px;
}

.buttons {
    margin-top: 50px;
    width: 400px;

    display: flex;
    justify-content: space-between;
}

button {
    background: none;
    border: 1px solid black;
    
    padding: 30px;
    cursor: pointer;
}

#rock:hover {
    background-color: rgb(197, 184, 184);
}

#paper:hover {
    background-color: rgb(229, 195, 201);
}

#scissors:hover {
    background-color: rgb(204, 191, 121);
}